<!doctype html>

<html>
<head>
	<title>MuSeek</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/general.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body style="display:none;">
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <!-- <div class="container-fluid"> -->
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">{{name}}</span>
					<a href="/helper" class="glyphicon glyphicon-question-sign" aria-hidden="true"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="scrollmenu">
					  <!-- <a href="#home">Prereq</a> -->
					  <a href="/?chapter=0">Notes</a>
						<a class="button-disabled" href="#contact">Rhythm</a>
					  <a class="button-disabled" href="#contact">Rests</a>
					  <a class="button-disabled" href="#about">The Musical Alphabet</a>
						<a class="button-disabled" href="#about">Clefs</a>
					</div>


		    </div><!-- /.navbar-collapse -->
		  <!-- </div> -->
		</nav>
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<main class="container-fluid">
			<div class="btn-group-vertical" role="group" aria-label="">
				<!-- <button onclick="location.href = '/quiz';" class="universal-button">Treble Clef</button> -->
				{{#each lessons}}
						<button id="c{{currentChapterId}}l{{id}}" onclick="location.href = '/quiz/?chapter={{currentChapterId}}&id={{id}}';"class="universal-button button-disabled">{{name}}</button>
				{{/each}}

				<!-- <button onclick="location.href = '/quiz';" class="universal-button">Treble Clef</button>
				<button class="universal-button button-disabled">Bass Clef</button>
				<button class="universal-button button-disabled">Switching Clefs</button>
				<button class="universal-button button-disabled">Duration</button> -->

			</div>
		</main>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->

		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container navbar-footer">
				<a href="/stat" class="glyphicon glyphicon-stats" aria-hidden="true"></a>
				<a href="/profile" class="glyphicon glyphicon-user" aria-hidden="true"></a>
				<a href="/setting" class="glyphicon glyphicon-cog" aria-hidden="true"></a>
		  </div>
		</nav>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>
